@utility container-x-padding {
    padding-inline: var(--container-inline-padding);
}

@utility container-y-padding {
    padding-block: var(--container-block-padding);
}

@utility container-custom {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}

@utility bg-gradient-btn {
    background-image: var(--gradient-btn-primary);
}

@utility bg-gradient-about-cta {
    background-image: var(--gradient-about-cta);
}

@utility bg-gradient-about-hero {
    background-image: var(--gradient-about-hero);
}

@utility default-card {
    background-color: white;
    border: 1px solid var(--color-border-clr);
    border-radius: var(--radius-card);
}

@utility default-transition {
    transition: all 0.3s ease-out;
}

/* fonts utilities */
@utility heading-h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;

    @media (min-width: 768px) {
        font-size: 56px;
        line-height: 60px;
    }

    @media (min-width: 1024px) {
        font-size: 72px;
        line-height: 76px;
    }
}

@utility heading-h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;

    @media (min-width: 768px) {
        font-size: 32px;
        line-height: 40px;
    }

    @media (min-width: 1024px) {
        font-size: 36px;
        line-height: 45px;
    }
}

@utility heading-h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 30px;
    }

    @media (min-width: 1024px) {
        font-size: 24px;
        line-height: 32px;
    }
}

@utility heading-h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;

    @media (min-width: 1024px) {
        font-size: 20px;
        line-height: 28px;
    }
}

@utility heading-h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

@utility heading-h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
    }
}

@utility para-tiny {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
}

@utility para-small {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    @media (min-width: 1024px) {
        font-size: 14px;
        line-height: 20px;
    }
}

@utility para-base {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
    }
}

@utility para-18 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 28px;
    }
}